<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1>Welcome to facebook-clone <%= @user.name %>!</h1>
  <p>Start adding friends now and see all our site has to offer.</p>
  <p>- The facebook-clone team.</p>
</body>
</html>
