<main>
<section class="friends-list">
  <h1><%= pluralize @friends.count, 'friend' %></h1>
  <% @friends.each do |user_hash| %>
  <%= render partial: 'partials/user-card', locals: { user: user_hash[:user], 
      relationship_variables: user_hash[:relationship_variables] } %>
  <% end %>
</section>
<section class="friend-requests">
  <h2>Friend requests</h2>
  <% @friend_requests.each do |user_hash| %>
  <%= render partial: 'partials/user-card', locals: { user: user_hash[:user], 
      relationship_variables: user_hash[:relationship_variables] } %>
  <% end %>
</section>
</main>
