<main>
<section class="friends-list">
  <h1><%= pluralize @friends.count, 'friend' %></h1>
  <ul>
  <% @friends.each do |friend| %>
    <li><%= link_to friend.name, user_profile_path(friend) %></li>
  <% end %>
  </ul>
</section>
<section class="friend-requests">
  <h2>Friend requests</h2>
  <ul>
  <% @friend_requests.each do |friend_request| %>
    <li><%= link_to friend_request.name, user_profile_path(friend_request) %></li>
  <% end %>
  </ul>
</section>
</main>
