<section class="users-index col-9 col-md-8 col-lg-6 mx-auto">
  <h2 class="mb-3">All Users</h2>
  <% @users.each do |user_hash| %>
    <%= render partial: 'partials/user-card', locals: { user: user_hash[:user], relationship_variables: user_hash[:relationship_variables] } %>
  <% end %>
</section>
