// theme colors
$salmon-red: #FFAAAA;
$base-red-light: #D46A6A;
$base-red: #AA3939;
$crimson-red: #801515;
$rich-red: #550000;

// White and gray colors
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

// main colors
$primary:       $base-red;
$secondary:     $salmon-red;