@use "custom" as *;

html {
  font-size: 16px;
}

body {
  margin-top: 74px;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: $primary;

  &_dropdown {
    min-width: 35rem;
    padding: 1rem;
  }

  &_notification__button {
    background: 0;
    border: 0;

    &:hover {
      background: 0;
    }
  }

  &_link {
    color: white;
  }

  &_links {
    align-items: center;
  }
}

// Flash messages
.toast {
  margin-top: 66px;
  z-index: 2;

  &__alert {
    background: $base-red;
  }

  &__notice {
    background: blue;
  }

  &__error {
    background: $crimson-red;
  }
}
