@use 'bootstrap' as *;

.sidebar {
  position: fixed;
  height: calc(100vh - 56px);
  margin-top: -18px; // brings the sidebar back up
  a {
    color: white;
  }
  @include media-breakpoint-down(md) {
    display: none !important;
  }
}

.feed {
  @include media-breakpoint-up(md) {
    margin-left: 35% !important;
  }

  .text-area {
    resize: none;
  }
}