@use 'bootstrap' as *;

.feed {
  display: flex;
  height: calc(100vh - 56px);

  &__profile {
    a {
      color: white;
    }

    @include media-breakpoint-down(md) {
      display: none !important;
    }
  }

  &__main {
    .text-area {
      resize: none;
    }
  }
}