@use 'bootstrap' as *;

.feed {
  display: flex;
  height: calc(100vh - 56px);

  &__profile {
    position: fixed;
    margin-top: 56px;
    height: calc(100vh - 56px);

    a {
      color: white;
    }

    @include media-breakpoint-down(md) {
      display: none !important;
    }
  }

  &__main {
    margin-top: 56px;
    @include media-breakpoint-up(md) {
      margin-left: 35% !important;
    }

    .text-area {
      resize: none;
    }
  }
}