<%= form_with model: post, class: "post-form card" do |form| %>
  <%= form.text_area :body, size: "60x7", class: "text-area form-control", placeholder: "Write a post..." %>
  <div class="card-body">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
