<section class="post">
  <h3 class="name"><%= link_to post.user.name, current_user == post.user ? profile_path : user_profile_path(id: post.user) %></h3>
  <hr>
  <p class="body"><%= post.body %></p>
  <%= link_to 'Show', post_path(post) %>

  <% if post.belongs_to_user?(current_user) %>
    <%= link_to 'Edit', edit_post_path(post) %>
  <% end %>
</section>
