<section class="profile-basic">
  <%= render partial: 'partials/profile-photo', locals: { user: current_user, resize_array: [50, 50]} %>
  <p><%= link_to current_user.name,  profile_path %></p>
</section>
<section class="profile-card-navigation">
  <%= link_to 'Profile', profile_path %><br>
  <%= link_to 'Friends', friends_path %>
</section>
