<section id="posts">
<% if @posts.any? %>
  <% @posts.each do |post| %>
  <section class="post">
    <h3 class="name"><%= post.user.name %></h3>
    <hr>
    <p class="body"><%= post.body %></p>
  </section>
  <% end %>
<% else %>
  <p>There are no posts :(</p>
<% end %>
</section>
