// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#posts {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.post {
  border: 1px solid black;
  margin-bottom: 40px;
}
